<!DOCTYPE html>

<html lang="en">

<head>
    {% include 'components/meta.html' %}

    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://youtube.bayfield.dev" />
    <meta property="og:image" content="{{ url_for('.static', filename='youtube/images/ytdownloader.png') }}" />
    <meta name="theme-color" content="#5744ad">

    <title>Paul Bayfield • Download</title>

    <link rel="stylesheet" href="{{ url_for('.static', filename='youtube/css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Inter" rel="stylesheet">

    {% include 'components/analytics.html' %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("*[lang='fr']").show();
            $("*[lang='en']").hide();
            $("html").show();

            $("*[id='mode-dark']").show();
            $("*[id='mode-light']").hide();

            $("#switch-lang").click(function () {
                $("*[lang='fr']").toggle();
                $("*[lang='en']").toggle();
                $("html").show();
            });

            $("#switch-mode").click(function () {
                $("*[id='mode-dark']").toggle();
                $("*[id='mode-light']").toggle();

                if (document.documentElement.getAttribute('data-theme') == 'dark') {
                    document.documentElement.setAttribute('data-theme', 'light');
                    $("#mode").removeAttr("src").attr("src", "light.png");
                } else {
                    document.documentElement.setAttribute('data-theme', 'dark');
                    $("#mode").removeAttr("src").attr("src", "dark.png");
                }
            });

            const hamburger = $(".hamburger");
            const year = $("#annee");
            const header = $("#header");

            var isOpen = false;

            hamburger.on("click", function() {
                if (!isOpen) {
                    $("body").addClass('noscroll');
                } else {
                    $("body").removeClass('noscroll');
                }
                isOpen = !isOpen;
                header.toggleClass("active");
            });

            $(".links > *").on("click", function() {
                $("body").removeClass('noscroll');
                isOpen = false;
                header.removeClass("active");
            });

            $(window).on("load", function() {
                year.text(new Date().getFullYear());
            });
        });
    </script>
    <script>
        function secondsToReadable(seconds) {
            const hours = Math.floor(seconds / 3600);
            const minutes = Math.floor((seconds % 3600) / 60);
            const remainingSeconds = seconds % 60;

            let readableTime = '';
            if (hours > 0) {
                readableTime += `${hours} hour`;
                if (hours > 1) readableTime += 's';
                readableTime += ' ';
            }

            if (minutes > 0) {
                readableTime += `${minutes} minute`;
                if (minutes > 1) readableTime += 's';
                readableTime += ' ';
            }

            if (remainingSeconds > 0 || readableTime === '') {
                readableTime += `${remainingSeconds} second`;
                if (remainingSeconds !== 1) readableTime += 's';
            }

            return readableTime.trim();
        }
    </script>
    <script>
        var source;

        $(document).ready(function () {
            $('.progress').hide();
            $('.go-back').hide();
            $('.status').hide();
            $('form').submit(function (event) {
                event.preventDefault();
                $('input[type="url"]').hide();
                $('select').hide();
                $('.progress').show();
                $('input[type="submit"]').hide();

                if ($("*[lang='en']").is(":hidden")) {
                    $('.text').text("Conversion de votre vidéo YouTube...");
                    $('.plus').text("Cela peut prendre un certain temps !");
                } else {
                    $('.text').text("Converting your YouTube video...");
                    $('.plus').text("This may take a while!");
                }
                $('.status').show();

                $('.go-back').attr('onclick', "window.location.href='/download?link=" + $("input[type='url']").val() + "'");

                var formData = $(this).serialize();

                $.ajax({
                    type: 'POST',
                    url: '/download-video',
                    data: formData,
                    success: function (data) {
                        var uuid = data.uuid;
                        source = new EventSource("/progress?uuid=" + uuid);

                        source.onmessage = function (event) {
                            const data = JSON.parse(event.data);

                            if (data.progress == "") {
                                $('.progress').hide();
                                $('.go-back').show();
                                $('.status').hide();

                                if ($("*[lang='en']").is(":hidden")) {
                                    $('.text').text("Quelque chose s'est mal passé !");
                                    $('.plus').text("Veuillez réessayer plus tard !");
                                } else {
                                    $('.text').text("Something went wrong!");
                                    $('.plus').text("Please try again later!");
                                }

                                source.close();
                            }
                            else {
                                $('.progress-bar').css('width', data.progress + '%').attr('aria-valuenow', data.progress);
                                $('.progress-bar-label').text(data.progress + '%');

                                if (data.progress == -1) {
                                    $('.progress').hide();
                                    $('.go-back').show();
                                    $('.status').hide();

                                    if ($("*[lang='en']").is(":hidden")) {
                                        $('.text').text("Erreur ! Cette vidéo n'existe pas !");
                                        $('.plus').text("Erreur 404");
                                    } else {
                                        $('.text').text("Error! This video does not exist!");
                                        $('.plus').text("Error 404");
                                    }

                                    source.close();
                                } else if (data.progress == -100) {
                                    $('.progress').hide();
                                    $('.go-back').show();
                                    $('.status').hide();

                                    if ($("*[lang='en']").is(":hidden")) {
                                        $('.text').text("Erreur ! Cette vidéo est trop longue! ({{duration}})");
                                        $('.plus').text("Erreur 403");
                                    } else {
                                        $('.text').text("Error! This video is too long! ({{duration}})");
                                        $('.plus').text("Error 403");
                                    }

                                    source.close();
                                } else if (data.progress == 99) {
                                    $('.status').hide();

                                    if ($("*[lang='en']").is(":hidden")) {
                                        $('.text').text("Finition...");
                                        $('.plus').text("Presque terminé !");
                                    } else {
                                        $('.text').text("Finishing...");
                                        $('.plus').text("Hang on, you are almost done!");
                                    }
                                } else if (data.progress == 100) {
                                    source.close();

                                    window.location.href = '/video?id=' + uuid;
                                } else {
                                    $('.progress').show();
                                    $('.go-back').hide();
                                    $('.status').show();

                                    if ($("*[lang='en']").is(":hidden")) {
                                        $('.text').text("Conversion de votre vidéo YouTube...");
                                        $('.plus').text("Cela peut prendre un certain temps !");
                                    } else {
                                        $('.text').text("Converting your YouTube video...");
                                        $('.plus').text("This may take a while!");
                                    }
                                }
                            }

                            $('.status').text('ETA: ' + secondsToReadable(data.eta) + ' - ' + data.downloaded_bytes + '/' + data.total_bytes + ' (' + data.speed + ')');
                        };

                        source.onerror = function(event) {
                            $('.progress').hide();
                            $('.go-back').show();
                            $('.status').hide();

                            if ($("*[lang='en']").is(":hidden")) {
                                $('.text').text("Quelque chose s'est mal passé !");
                                $('.plus').text("Veuillez réessayer plus tard !");
                            } else {
                                $('.text').text("Something went wrong!");
                                $('.plus').text("Please try again later!");
                            }

                            source.close();
                        };
                    },
                    error: function () {
                        $('.progress').hide();
                        $('.go-back').show();
                        $('.status').hide();

                        if ($("*[lang='en']").is(":hidden")) {
                            $('.text').text("Quelque chose s'est mal passé !");
                            $('.plus').text("Veuillez réessayer plus tard !");
                        } else {
                            $('.text').text("Something went wrong!");
                            $('.plus').text("Please try again later!");
                        }
                    }
                });

                this.reset();
            });
        });

        $(window).unload(
            function() {
                if (source) {
                    source.close();
                }
            }
        );
    </script>
</head>

<body>
    <header id="header">
        <nav>
            <a href="#" class="logo" >
                <img src="{{ url_for('static', filename='favicon.png') }}">
            </a>

            <div class="links">
                <div class="row">
                    <!-- Français -->
                    <a class="btn" href="/" lang="fr">Accueil</a>

                    <!-- English -->
                    <a class="btn" href="/" lang="en">Home</a>
                </div>
                <div class="small-row">
                    <button class="btn" id="switch-lang">
                        <img src="{{ url_for('static', filename='images/uk.png') }}" lang="en">
                        <img src="{{ url_for('static', filename='images/fr.png') }}" lang="fr">
                    </button>
                    <div class="divider"></div>
                    <button class="btn" id="switch-mode">
                        <img src="{{ url_for('static', filename='images/light.png') }}" id="mode-dark">
                        <img src="{{ url_for('static', filename='images/dark.png') }}" id="mode-light">
                    </button>
                </div>
            </div>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    </header>
    <section>
        <!-- Français -->
        <div class="container" lang="fr">
            <h1>Convertisseur Youtube</h1>
            <form>
                <input type="url"
                    pattern="^((?:https?:)?\/\/)?((?:www|m|music)\.)?((?:youtube(-nocookie)?\.com|youtu.be))(\/(?:[\w\-]+\?v=|embed\/|v\/)?)([\w\-]+)(\S+)?$"
                    placeholder="URL ou ID de la vidéo Youtube" name="videolink" value="{{ link }}" required autofocus>
                <select name="format">
                    <option value="mp3" selected>MP3</option>
                    <option value="mp4">MP4</option>
                    <option value="wav">WAV</option>
                </select>
                <div class="additional">
                    <p class="text">Meilleure qualité audio & vidéo par défaut !</p>
                    <p class="plus">youtube.bayfield.dev</p>
                </div>
                <button class="go-back" onclick="window.location.href='/download?link={{ link }}'">Réessayer...</button>
                <input type="submit" value="Convert...">
            </form>
            <div class="progress">
                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                    aria-valuemax="100">
                    <span class="progress-bar-label">0%</span>
                </div>
            </div>
            <p class="status">ETA: 0 secondes - 0MiB/0MiB (0MiB/s)</p>
        </div>

        <!-- English -->
        <div class="container" lang="en">
            <h1>Youtube Downloader</h1>
            <form>
                <input type="url"
                    pattern="^((?:https?:)?\/\/)?((?:www|m|music)\.)?((?:youtube(-nocookie)?\.com|youtu.be))(\/(?:[\w\-]+\?v=|embed\/|v\/)?)([\w\-]+)(\S+)?$"
                    placeholder="Youtube Video URL or ID" name="videolink" value="{{ link }}" required autofocus>
                <select name="format">
                    <option value="mp3" selected>MP3</option>
                    <option value="mp4">MP4</option>
                    <option value="wav">WAV</option>
                </select>
                <div class="additional">
                    <p class="text">Best Audio & Video quality by default!</p>
                    <p class="plus">youtube.bayfield.dev</p>
                </div>
                <button class="go-back" onclick="window.location.href='/download?link={{ link }}'">Try again...</button>
                <input type="submit" value="Convert...">
            </form>
            <div class="progress">
                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                    aria-valuemax="100">
                    <span class="progress-bar-label">0%</span>
                </div>
            </div>
            <p class="status">ETA: 0 seconds - 0MiB/0MiB (0MiB/s)</p>
        </div>
    </section>
</body>

</html>
