<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Language" content="fr">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://youtube.bayfield.dev" />
    <meta property="og:image" content="{{ url_for('.static', filename='youtube/images/ytdownloader.png') }}" />
    <meta name="theme-color" content="#5744ad">

    <title>YT Downloader • Error</title>

    <link rel="stylesheet" href="{{ url_for('.static', filename='youtube/css/login.css') }}">
</head>

<body>
    <div class="container">
        <h1>Error</h1>
        <p class="error"> {{ line1 }}</p>
        <p class="error"> {{ line2 }}</p>
    </div>
</body>

</html>