<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>Merge PDF</title>
</head>
<body>
    <div class="container mt-5">
        <h1>Merge PDF</h1>
        <form id="mergeForm" action="{{ url_for('pdf.internal_merge') }}" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="fileInput">Choose PDF files (up to 50 files):</label>
                <input type="file" class="form-control-file" id="fileInput" name="uploaded_file" accept=".pdf" required multiple>
            </div>
            <div class="form-group">
                <label for="fileName">File Name:</label>
                <input type="text" class="form-control" id="fileName" name="file_name" required>
            </div>
            <button type="button" id="mergeButton" class="btn btn-primary" onclick="submitForm()">Merge</button>
        </form>
    </div>

    <script>
        async function submitForm() {
            var fileInput = document.getElementById('fileInput');
            var fileNameInput = document.getElementById('fileName');
            var files = fileInput.files;
    
            if (files.length > 50) {
                alert('You can only upload up to 50 files.');
                return;
            }
    
            for (var i = 0; i < files.length; i++) {
                var fileName = files[i].name;
                if (!fileName.toLowerCase().endsWith('.pdf')) {
                    alert('Please upload only PDF files.');
                    return;
                }
            }
    
            var mergeButton = document.getElementById('mergeButton');
            mergeButton.disabled = true;
    
            var formData = new FormData(document.getElementById('mergeForm'));
    
            try {
                var response = await fetch("{{ url_for('pdf.internal_merge') }}", {
                    method: "POST",
                    body: formData
                });
    
                if (response.ok) {
                    var fileData = await response.blob();
                    console.log(fileData);
                    var url = window.URL.createObjectURL(fileData);
    
                    var contentDisposition = response.headers.get('Content-Disposition');
                    var suggestedFilename = '';
    
                    if (contentDisposition && contentDisposition.includes('filename=')) {
                        suggestedFilename = contentDisposition
                            .split('filename=')[1]
                            .replace(/['"]+/g, '');
                    }

                    var downloadFileName = fileNameInput.value.trim() || suggestedFilename || 'merged_file';
                    downloadFileName += '.pdf';

                    var a = document.createElement('a');
                    a.href = url;
                    a.download = downloadFileName;
                    document.body.appendChild(a);
                    a.click();
                    document.body.removeChild(a);
                } else {
                    alert('Error merging files. Please try again.');
                }
            } catch (error) {
                console.error('An error occurred:', error);
            } finally {
                mergeButton.disabled = false;
            }
        }
    </script>
    
</body>
</html>
