# Server
DOMAIN_NAME = bayfield.dev               # Domain name
SESSION_COOKIE_DOMAIN = .bayfield.dev    # Cookie name
DOWNLOAD_PATH = "/downloads"             # Must start with /
MAX_DURATION = 7200                      # 2 hours
MAX_SAVE = 604800                        # 7 days
ADMIN_ONLY = false                       # true or false

# Flask
FLASK_SECRET_KEY =                       # Secret key, generated automatically if not set

# Database
POSTGRES_DATABASE =                      # Database name
POSTGRES_USER =                          # Database user
POSTGRES_PASSWORD =                      # Database password
POSTGRES_HOST =                          # Database host
POSTGRES_PORT =                          # Database port
