<!DOCTYPE html>
<html lang="fr">

<head>
    {% include 'components/meta.html' %}

    <title>Paul Bayfield • Carte</title>

    <meta property="og:title" content="Paul Bayfield • Carte" />
    <meta property="og:url" content="http://map.bayfield.dev/" />

    <link rel="stylesheet" href="{{ url_for('.static', filename='map/css/style.css') }}">
    <link rel="stylesheet" href="https://bayfield.dev/static/portfolio/portfolio/css/style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://unpkg.com/@googlemaps/markerclusterer/dist/index.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="{{ url_for('.static', filename='map/js/script.js') }}"></script>
    <script src="https://bayfield.dev/static/portfolio/portfolio/js/script.js" defer></script>

    <link rel="preload" href="https://bayfield.dev/static/map/map/images/tout.svg" as="image">
    <link rel="preload" href="https://bayfield.dev/static/map/map/images/monument.svg" as="image">
    <link rel="preload" href="https://bayfield.dev/static/map/map/images/maison.svg" as="image">
    <link rel="preload" href="https://bayfield.dev/static/map/map/images/musee.svg" as="image">
    <link rel="preload" href="https://bayfield.dev/static/map/map/images/zoo.svg" as="image">
    <link rel="preload" href="https://bayfield.dev/static/map/map/images/parc.svg" as="image">
    <link rel="preload" href="https://bayfield.dev/static/map/map/images/ville.svg" as="image">
    <link rel="preload" href="https://bayfield.dev/static/map/map/images/gite.svg" as="image">
    <link rel="preload" href="https://bayfield.dev/static/map/map/images/restaurant.svg" as="image">

    <link rel="preload" href="https://bayfield.dev/static/map/map/images/edit.png" as="image">
    <link rel="preload" href="https://bayfield.dev/static/map/map/images/person.png" as="image">
</head>
<body>
    <nav class="flex space-between vertically-centered">
        <div class="left menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <a class="nav-logo flex hover-button" href="./">
            <img src="https://bayfield.dev/static/favicon.png" alt="Paul Bayfield">
        </a>
        <div class="left nav-links flex vertically-centered">
            <div class="container flex">
                <h1 class="nav-title">Paul Bayfield</h1>
            </div>
            <div class="container flex vertically-centered">
                <input id="pac-input" class="controls" type="text" placeholder="Entrer un Lieu"/>

                <div class="filter">
                    <img id="filter-image" src="https://bayfield.dev/static/map/map/images/tout.svg" width="24" height="24" loading="lazy">

                    <select id="type" onchange="filterMarkers(this.value);">
                        <option value="tout" selected>Tout</option>
                        <option value="monument">Monuments</option>
                        {% if edit == "true" %}
                        <option value="maison">Maisons</option>
                        {% endif %}
                        <option value="musee">Musées</option>
                        <option value="zoo">Zoos</option>
                        <option value="parc">Parcs</option>
                        <option value="ville">Villes</option>
                        {% if edit == "true" %}
                        <option value="gite">Gîtes</option>
                        <option value="restaurant">Restaurants</option>
                        {% endif %}
                    </select>
                </div>
                
                <button class="btn" id="edit-btn" onclick="toggleEdit();" value={{ edit }}>
                    {% if edit == "true" %}
                    <img id="edit-img" src="https://bayfield.dev/static/map/map/images/person.png" loading="lazy">
                    {% else %}
                    <img id="edit-img" src="https://bayfield.dev/static/map/map/images/edit.png" loading="lazy">
                    {% endif %}
                </button>
            </div>
        </div>
    </nav>

    <div id="map"></div>
    <div id="infowindow-content">
        <span id="place-name" class="title"></span><br>
        <span id="place-address"></span>
    </div>

    <script>
        function loadMap() {
            var map = initMap({{ last['lat'] }}, {{ last['lon'] }}, {{ edit }});
        
            {% for marker in markers %}
            var iconType = "{{ marker['type'] }}";
            var iconPath = 'https://bayfield.dev/static/map/map/images/' + iconType + '.svg';
        
            var marker = new google.maps.Marker({
                position: new google.maps.LatLng({{ marker['lat'] }}, {{ marker['lon'] }}),
                map: map,
                icon: iconPath,
            });
        
            marker.type = iconType;
            markers.push(marker);
        
            addInfoWindow(map, marker, "{{ marker['description'] }}");
            {% endfor %}

            createCluster(map, markers);
        }
    </script>

    <script
        src="https://maps.googleapis.com/maps/api/js?key={{ API_KEY }}&callback=loadMap&libraries=places&v=weekly"
        defer
    ></script>
</body>

</html>
