:root {
    color-scheme: light;
    --primary: #ffffff;
    --secondary: #ffffff40;
    --text: #111827;
    --gradient-1: #F3F3F3;
    --gradient-2: #4B5563;
    --background-1: #0000001a;
    --background-2: #F3F4F6;
    --background-3: #F9FAFB;
    --extra-1: #BEBEBE;
    --extra-2: #EBEAF0;
    --extra-3: #00000042;
    --border: #DDDDDD;
    --brightness: 90%;
}

[data-theme="dark"] {
    color-scheme: dark;
    --primary: #23272a;
    --secondary: #211e1e40;
    --text: #ffffff;
    --gradient-1: #2c2f33;
    --gradient-2: #d6d6d6;
    --background-1: #ffffff1a;
    --background-2: #434546;
    --background-3: #1f2124;
    --extra-1: #3f3f3f;
    --extra-2: #626262;
    --extra-3: #ffffff42;
    --border: #000000;
    --brightness: 10%;
}


:root::-webkit-scrollbar {
    width: 10px;
}

:root::-webkit-scrollbar-thumb {
    background-color: var(--extra-1);
}

:root::-webkit-scrollbar-track {
    background-color: var(--extra-2);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    border: 0 solid;
    margin: 0;
    padding: 0;
}

html {
    font-family: Inter;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    background-color: var(--primary);
    transition: all 0.3s ease-in-out;
}

body.noscroll {
    overflow-y: hidden;
}

header {
    display: flex;
    width: 100%;
    height: 100px;
    padding: 16px 10px;
    align-items: center;
    z-index: 100;
    position: fixed;
    top: 0;
    border-radius: 0 0 15px 15px;
    border-bottom: 1px solid var(--border);
    background: var(--secondary);
    backdrop-filter: blur(10px);
}

header.active {
    backdrop-filter: unset;
}

header > nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

header > nav > .logo {
    z-index: 3;
}

header > nav > .logo > img {
    width: 60px;
    height: 60px;
}

header > nav > .links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all 0.25s;
    position: fixed;
    visibility: hidden;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 1;
    transition: none;
}

header > nav > .links > * {
    z-index: 2;
}

header > nav > .links > *:not(:last-child) {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text);
    text-decoration: none;
}

header.active > nav > .links {
    visibility: visible;
    backdrop-filter: blur(20px) brightness(var(--brightness));
    opacity: 1;
}

header > nav > .links > .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

header.active > nav > .links > .row {
    display: flex;
    flex-direction: column;
}

header > nav > .links > .row > a {
    color: var(--text);

    font-size: 16px;
    font-weight: 500;

    text-decoration: none;
}

header > nav > .links > .small-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

header > nav >.links > .small-row > .divider {
    width: 2px;
    height: 24px;
    background: var(--extra-3);
}

header > nav > .hamburger {
    display: block;
    cursor: pointer;
    z-index: 2;
}

header > nav > .hamburger > * {
    display: block;
    width: 48px;
    height: 3px;
    margin: 7.5px auto;
    transition: all 0.3s ease-in-out;
    background-color: var(--text);
}

header.active > nav > .hamburger .bar:nth-child(2) {
    opacity: 0;
}

header.active > nav > .hamburger .bar:nth-child(1) {
    transform: translateY(10.5px) rotate(45deg);
}

header.active > nav > .hamburger .bar:nth-child(3) {
    transform: translateY(-10.5px) rotate(-45deg);
}

header .btn {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 10px;
    border-radius: 10px;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;
    cursor: pointer;
    outline: 2px solid transparent;
    outline-offset: 2px;
    background-color: transparent;
    background-image: none;
    text-transform: none;
}

header .btn:hover {
    background-color: var(--gradient-1);
}

header .btn:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

section {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 100px 30px;
    scroll-margin-top: 100px;
}

.summary {
    flex-direction: column-reverse;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
}

.summary > .column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 48px;
}

.summary > .column > h1 {
    color: var(--text);
    font-size: 40px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: -1.2px;
}

.summary > .column > .text {
    display: flex;
    flex-direction: column;
    gap: 24px;
    color: var(--gradient-2);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.summary > .photo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.summary > .photo > img {
    width: 100px;
    height: auto;
    border-radius: 10%;
    background: lightgray 50% / cover no-repeat;
    box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease-in-out;
}

.summary > .photo > img:hover {
    transform: scale(1.05);
}

.links {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.links > a {
    display: flex;
    padding: 10px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 10px;
    background: var(--text);
    text-decoration: none;
    color: var(--primary);
    transition: all 0.3s ease-in-out;
}

.links > a > svg {
    width: 24px;
    height: 24px;
    fill: var(--primary);
}

.links > a:hover {
    background: var(--gradient-2);
}

.links > .secondary {
    color: var(--text);
    background: unset;
    border: 1px solid var(--text);
}

.links > .secondary:hover {
    background: var(--text);
    color: var(--primary);
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 60px;
    width: 100%;
    padding: 100px 30px;
    background: var(--gradient-1);
}

.about > .column {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.about > .column > .text {
    display: flex;
    flex-direction: column;
    gap: 24px;

    color: var(--gradient-2);

    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.about .timeline {
    display: flex;
    padding: 5px 0px;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.about .timeline > * {
    fill: var(--text);
}

.about .timeline > .line {
    width: 1px;
    height: 140px;
    background: var(--text);
}

.about .history {
    display: flex;
    align-items: flex-start;
}

.about .list {
    display: flex;
    padding: 0px 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
}

.about .list .container {
    display: flex;
    height: 110px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

.about .list .container .text {
    display: flex;
    padding: 5px 15px;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
    align-self: stretch;
}

.about .list .container .text > .container-title {
    align-self: stretch;
    color: var(--text);
    font-size: 16px;
    font-weight: 600;
    text-decoration-line: underline;
}

.about .list .container .text > .container-position {
    align-self: stretch;
    color: var(--text);
    font-size: 14px;
    font-style: italic;
    font-weight: 500;
}

.about .list .container .text > .container-type {
    align-self: stretch;
    color: var(--text);
    font-size: 16px;
    font-weight: 700;
}

.about .list .container .text > .container-info {
    align-self: stretch;
    color: var(--text);
    font-size: 14px;
    font-weight: 400;
}

.skills {
    display: flex;
    width: 100%;
    padding: 100px 30px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 60px;
    align-self: stretch;
}

.skills > .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
}

.skills > .row > h1 {
    font-size: 30px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.6px;
    color: var(--text);
}

.skills > .row > p {
    color: var(--gradient-2);
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
}

.skills > .skill-row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
}

.skills > .skill-row > .title {
    align-self: stretch;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: var(--gradient-2);
}

.skills > .skill-row > .list {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    gap: 15px;
    align-self: stretch;
    flex-wrap: wrap;
}

.skills > .skill-row > .list > .container {
    display: flex;
    width: 120px;
    height: 120px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    background: var(--gradient-1);
    text-decoration: none;
    color: var(--text);
    transition: all 0.3s ease-in-out;
}

.skills > .skill-row > .list > .container:hover {
    transform: scale(1.04);
}

.skills > .skill-row > .list > .container > img {
    width: 50px;
    height: 50px;
}

.experience {
    display: flex;
    width: 100%;
    padding: 100px 30px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 60px;
    align-self: stretch;
    background-color: var(--gradient-1);
}

.experience > .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
}

.experience > .row > h1 {
    font-size: 30px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.6px;
    color: var(--text);
}

.experience > .row > p {
    color: var(--gradient-2);
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
}

.experience > .list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
}

.experience > .list > .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    padding: 32px;
    width: 100%;
    border-radius: 15px;
    background-color: var(--primary);
    box-shadow: 0px 4px 6px var(--background-1);
    transition: all 0.3s ease-in-out;
}

.experience > .list > .container:hover {
    transform: scale(1.02);
}

.experience > .list > .container > .text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.experience > .list > .container > .text > .title {
    color: var(--text);
    font-size: 20px;
    font-weight: 600;
}

.experience > .list > .container > .text > .description {
    color: var(--gradient-2);
    font-size: 16px;
    font-weight: 400;
}

.experience > .list > .container > .date {
    color: var(--gradient-2);
    font-size: 16px;
}

.projects {
    display: flex;
    width: 100%;
    padding: 100px 30px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 60px;
    align-self: stretch;
}

.projects > .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
}

.projects > .row > h1 {
    font-size: 30px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.6px;
    color: var(--text);
}

.projects > .row > p {
    color: var(--gradient-2);
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
}

.projects > .list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
}

.projects > .list > .container {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    border-radius: 15px;
    background-color: var(--primary);
    box-shadow: 0px 4px 6px var(--background-1);
    transition: all 0.3s ease-in-out;
}

.projects > .list > .container:hover {
    transform: scale(1.01);
}

.projects > .list > .container > .image {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid var(--background-2);
    border-left: 1px solid var(--background-2);
    border-radius: 15px 0 0 15px;
    width: 100%;
    height: 100%;
    background: var(--background-3);
}

.projects > .list > .container > .image > img {
    width: 50%;
    height: 50%;
    transition: all 0.3s ease-in-out;
}

.projects > .list > .container > .image > img:hover {
    transform: scale(1.1);
}

.projects > .list > .container > .text {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 48px;
    width: 100%;
}

.projects > .list > .container > .text > .title {
    color: var(--text);
    font-size: 20px;
    font-weight: 600;
}

.projects > .list > .container > .text > .description {
    color: var(--gradient-2);
    font-size: 16px;
}

.projects > .list > .container > .text > .technologies {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.projects > .list > .container > .text > .technologies > p {
    padding: 8px 12px;
    border-radius: 10px;
    background: var(--background-2);
    color: var(--text);
    font-size: 14px;
    font-weight: 500;
}

.projects > .list > .reverse > .image {
    border-radius: 0 15px 15px 0;
}

.projects-links {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.projects-links > a {
    display: flex;
    padding: 10px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;

    border-radius: 10px;
    background: var(--text);

    text-decoration: none;
    color: var(--primary);
    transition: all 0.3s ease-in-out;
}

.projects-links > a > svg {
    width: 24px;
    height: 24px;
}

.projects-links > a:nth-child(2) > svg {
    fill: var(--text);
}

.projects-links > a:first-child > svg > * {
    stroke: var(--primary);
}

.projects-links > a:hover {
    background: var(--gradient-2);
}

.projects-links > .secondary {
    color: var(--text);
    background: unset;
    border: 1px solid var(--text);
}

.projects-links > .secondary:hover {
    background: var(--gradient-1);
}

.contact {
    display: flex;
    width: 100%;
    padding: 100px 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    align-self: stretch;
    background-color: var(--gradient-1);
}


.contact > .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
}

.contact > .row > h1 {
    font-size: 30px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.6px;
    color: var(--text);
}

.contact > .row > p {
    color: var(--gradient-2);
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
}

.contact > .list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
}

.contact > .list > .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 32px;
    width: 450px;
    border-radius: 15px;
    background-color: var(--primary);
    box-shadow: 0px 4px 6px var(--background-1);
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    color: var(--text);
}

.contact > .list > .container > svg {
    fill: var(--text);
}

.contact > .list > .container:hover {
    transform: scale(1.02);
}

.contact > .list > .container > .text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.contact > .list > .container > .text > .title {
    color: var(--text);
    font-size: 20px;
    font-weight: 600;
}

.contact > .list > .container > .text > .link {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.contact > .list > .container > .text > .link > svg {
    stroke: var(--text);
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 100px 30px;
    gap: 60px;
}

footer > .credits {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer > .credits > .logo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--text);
    font-weight: 600;
}

footer > .credits > .logo > img {
    width: 90px;
    height: 90px;
}

footer > .references {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

footer > .references > .title {
    color: var(--text);
    font-size: 20px;
    font-weight: 600;
}

footer > .references > .list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

footer > .references > .list > a {
    color: var(--gradient-2);
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}

footer > .references > .list > a:hover {
    color: var(--text);
    text-decoration: underline;
}

@media (min-width: 500px) {
    header > nav {
        padding-left: 50px;
        padding-right: 50px;
    }

    .links {
        flex-direction: row;
    }

    .projects-links {
        flex-direction: row;
    }

    .contact > .list > .container {
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }
}


@media (min-width: 800px) {
    .summary {
        align-items: flex-start;
        flex-direction: row;
        gap: 50px;
        margin-top: 50px;
    }

    .summary > .column > h1 {
        font-size: 60px;
    }

    .summary > .photo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        height: 350px;
    }

    .summary > .photo > img {
        width: 280px;
        height: 320px;
        border-radius: 20%;
    }

    .summary > .photo > img:hover {
        transform: scale(1.05) rotate(2deg);
    }

    .skills > .skill-row {
        padding: 0px 10px;
    }

    .skills > .skill-row > .list {
        padding: 0px 30px;
    }

    .skills > .skill-row > .list > .container {
        width: 180px;
        height: 180px;
    }

    .skills > .skill-row > .list > .container > img {
        width: 80px;
        height: 80px;
    }

    .experience > .list > .container {
        display: flex;
        flex-direction: row;
    }

    .experience > .list > .container > .date {
        width: 30%;
    }
}

@media (min-width: 1000px) {
    header > nav {
        padding-left: 0;
        padding-right: 0;
    }

    header > nav > .links {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
        visibility: visible;
        position: unset;
        text-align: unset;
        width: 100%;
        height: 100%;
        margin-left: unset;
        opacity: 100%;
    }

    header > nav > .hamburger {
        display: none;
    }

    header {
        padding: 16px 50px;
    }

    section, .about, .skills, .experience, .projects, .contact, footer {
        padding: 100px 50px;
    }

    .summary {
        gap: 150px;
    }

    section {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
}

@media (min-width: 1100px) {
    header {
        padding: 16px 100px;
    }

    section, .about, .skills, .experience, .projects, .contact, footer {
        padding: 100px 100px;
    }
}

@media (min-width: 1300px) {
    header {
        padding: 16px 200px;
    }

    section, .about, .skills, .experience, .projects, .contact, footer {
        padding: 100px 200px;
    }
}

@media (min-width: 1600px) {
    header {
        padding: 16px 250px;
    }

    section, .about, .skills, .experience, .projects, .contact, footer {
        padding: 100px 250px;
    }

    .about {
        gap: 0;
    }

    .about .history {
        padding-left: 50px;
    }

    .projects > .list > .container {
        display: flex;
        flex-direction: row;
        justify-content: normal;
        gap: 40px;
    }

    .projects > .list > .container > .image {
        width: unset;
        padding: 48px;
    }

    .projects > .list > .container > .image > img {
        width: auto;
        height: auto;
    }

    .projects > .list > .container > .text {
        width: 50%;
    }
    
    .projects > .list > .reverse {
        flex-direction: row-reverse;
    }
}

@media (min-width: 1920px) {
    header {
        padding: 16px 300px;
    }

    section, .about, .skills, .experience, .projects, .contact, footer {
        padding: 100px 300px;
    }
}


@media (min-width: 2000px) {
    header {
        padding: 16px 20%;
    }

    section, .about, .skills, .experience, .projects, .contact, footer {
        padding: 100px 20%;
    }
}
