<!DOCTYPE html>

<html lang="fr">
<head>
    {% include 'components/meta.html' %}

    <title>Paul Bayfield • Comptabilité</title>

    <link rel="stylesheet" href="{{ url_for('.static', filename='miscellaneous/css/interets.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Inter" rel="stylesheet">

    {% include 'analytics/compta.bayfield.dev.html' %}

    {% include 'components/script.html' %}
</head>
<body>
    <header id="header">
        <nav>
            <a href="#" class="logo" >
                <img src="{{ url_for('static', filename='favicon.png') }}">
            </a>

            <div class="links">
                <div class="row">
                    <a href="#" class="btn">MR4.11 - Comptabilité</a>
                </div>
                <div class="small-row">
                    <button class="btn" id="switch-mode">
                        <img src="{{ url_for('static', filename='images/light.png') }}" id="mode-dark">
                        <img src="{{ url_for('static', filename='images/dark.png') }}" id="mode-light">
                    </button>
                </div>
            </div>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    </header>
    <section class="summary" id="summary">
        <div class="column">
            <h1>Sommaire 🧮</h1>
            <div class="links">
                <a href="/interets">Intérêts</a>
                <a href="/emprunt">Emprunt</a>
            </div>
        </div>
    </section>
</body>
</html>
