<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Language" content="fr">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://youtube.bayfield.dev" />
    <meta property="og:image" content="https://bayfield.dev/static/images/ytdownloader.png" />
    <meta name="theme-color" content="#5744ad">

    <title>YT Downloader • Download</title>

    <link href="https://bayfield.dev/static/css/download.css" rel="stylesheet" media="screen">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script>
        function secondsToReadable(seconds) {
            const hours = Math.floor(seconds / 3600);
            const minutes = Math.floor((seconds % 3600) / 60);
            const remainingSeconds = seconds % 60;

            let readableTime = '';
            if (hours > 0) {
                readableTime += `${hours} hour`;
                if (hours > 1) readableTime += 's';
                readableTime += ' ';
            }

            if (minutes > 0) {
                readableTime += `${minutes} minute`;
                if (minutes > 1) readableTime += 's';
                readableTime += ' ';
            }

            if (remainingSeconds > 0 || readableTime === '') {
                readableTime += `${remainingSeconds} second`;
                if (remainingSeconds !== 1) readableTime += 's';
            }

            return readableTime.trim();
        }

        function removeAnsiEscapeSequences(inputString) {
            const ansiRegex = /(\x9B|\x1B\[)[0-?]*[ -\/]*[@-~]/g;

            return inputString.replace(ansiRegex, '').trimStart();
        }
    </script>
    <script>
        var source;

        $(document).ready(function () {
            $('.progress').hide();
            $('.go-back').hide();
            $('.status').hide();
            $('form').submit(function (event) {
                event.preventDefault();
                $('input[type="url"]').hide();
                $('select').hide();
                $('.progress').show();
                $('input[type="submit"]').hide();
                $('.text').text("Converting your YouTube video...");
                $('.plus').text("This may take a while!");
                $('.status').show();

                $('.go-back').attr('onclick', "window.location.href='/download?link=" + $("input[type='url']").val() + "'");

                var formData = $(this).serialize();

                $.ajax({
                    type: 'POST',
                    url: '/download-video?id={{uuid}}',
                    data: formData,
                    success: function () {
                        source = new EventSource("/progress?uuid={{uuid}}");

                        source.onmessage = function (event) {
                            const data = JSON.parse(event.data);

                            if (data.progress == "") {
                                $('.progress').hide();
                                $('.go-back').show();
                                $('.status').hide();
                                $('.text').text("Something went wrong!");
                                $('.plus').text("Please try again later!");

                                source.close();
                            }
                            else {
                                $('.progress-bar').css('width', data.progress + '%').attr('aria-valuenow', data.progress);
                                $('.progress-bar-label').text(data.progress + '%');

                                if (data.progress == -1) {
                                    $('.progress').hide();
                                    $('.go-back').show();
                                    $('.status').hide();
                                    $('.text').text("Error! This video does not exist!");
                                    $('.plus').text("Error 404");

                                    source.close();
                                }

                                if (data.progress == -100) {
                                    $('.progress').hide();
                                    $('.go-back').show();
                                    $('.status').hide();
                                    $('.text').text("Error! This video is too long! ({{duration}})");
                                    $('.plus').text("Error 403");

                                    source.close();
                                }

                                if (data.progress == 99) {
                                    $('.status').hide();
                                    $('.text').text("Finishing...");
                                    $('.plus').text("Hang on, you are almost done!");
                                }

                                if (data.progress == 100) {
                                    source.close();

                                    window.location.href = '/video?id={{uuid}}';
                                }
                            }

                            $('.status').text('ETA: ' + secondsToReadable(data.eta) + ' - ' + removeAnsiEscapeSequences(data.downloaded_bytes) + '/' + removeAnsiEscapeSequences(data.total_bytes) + ' (' + removeAnsiEscapeSequences(data.speed) + ')');
                        };

                        source.onerror = function(event) {
                            $('.progress').hide();
                            $('.go-back').show();
                            $('.status').hide();
                            $('.text').text("Something went wrong!");
                            $('.plus').text("Please try again later!");

                            source.close();
                        };
                    },
                    error: function () {
                        $('.progress').hide();
                        $('.go-back').show();
                        $('.status').hide();
                        $('.text').text("Something went wrong!");
                        $('.plus').text("Please try again later!");
                    }
                });

                this.reset();
            });
        });

        $(window).unload(
            function() {
                if (source) {
                    source.close();
                }
            }
        );
    </script>
</head>

<body>
    <div class="container">
        <h1>Youtube Downloader</h1>
        <form>
            <div class="txt_field">
                <input type="url"
                    pattern="^((?:https?:)?\/\/)?((?:www|m|music)\.)?((?:youtube(-nocookie)?\.com|youtu.be))(\/(?:[\w\-]+\?v=|embed\/|v\/)?)([\w\-]+)(\S+)?$"
                    placeholder="Youtube Video URL or ID" name="videolink" value="{{ link }}" required autofocus>
            </div>
            <div class="format-menu">
                <select name="format">
                    <option value="mp3" selected>MP3</option>
                    <option value="mp4">MP4</option>
                </select>
                <p class="text">Best Audio & Video quality by default!</p>
                <p class="plus">youtube.bayfield.dev</p>
            </div>
            <button class="go-back" onclick="window.location.href='/download?link={{ link }}'">Try again...</button>
            <input type="submit" value="Convert...">
        </form>
        <div class="progress">
            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                aria-valuemax="100">
                <span class="progress-bar-label">0%</span>
            </div>
        </div>
        <p class="status">ETA: 0 seconds - 0MiB/0MiB (0MiB/s)</p>
    </div>
    <div class="logout">
        <button id="logout" onclick="window.location.href='/logout'">Logout</button>
    </div>
</body>

</html>