<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Language" content="fr">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://youtube.bayfield.dev" />
    <meta property="og:image" content="https://bayfield.dev/static/images/ytdownloader.png" />
    <meta name="theme-color" content="#5744ad">

    <title>YT Downloader • Login</title>

    <link rel="stylesheet" href="https://bayfield.dev/static/css/login.css">
</head>

<body>
    <div class="container">
        <h1>Login</h1>
        <form action="" method="post">
            <div class="txt_field">
                <input type="text" name="username" value="{{ request.form.username }}" required>
                <label>Username</label>
            </div>
            <div class="txt_field">
                <input type="password" name="password" value="{{ request.form.password }}" required>
                <label>Password</label>
            </div>
            <input type="submit" value="Login">
        </form>
        {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
        {% endif %}
        <footer><strong>Please login before you continue...</strong></footer>
    </div>
</body>

</html>