:root {
    color-scheme: light;
    --primary: #ffffff;
    --secondary: #ffffff40;
    --text: #111827;
    --gradient-1: #F3F3F3;
    --gradient-2: #4B5563;
    --background-1: #0000001a;
    --background-2: #F3F4F6;
    --background-3: #F9FAFB;
    --extra-1: #BEBEBE;
    --extra-2: #EBEAF0;
    --extra-3: #00000042;
    --border: #DDDDDD;
    --brightness: 90%;
    --lightgreen: #e0ffe0;
    --lightred: #ffe0e0;
}

[data-theme="dark"] {
    color-scheme: dark;
    --primary: #23272a;
    --secondary: #211e1e40;
    --text: #ffffff;
    --gradient-1: #2c2f33;
    --gradient-2: #d6d6d6;
    --background-1: #ffffff1a;
    --background-2: #434546;
    --background-3: #1f2124;
    --extra-1: #3f3f3f;
    --extra-2: #626262;
    --extra-3: #ffffff42;
    --border: #000000;
    --brightness: 10%;
    --lightgreen: #2e4e2e;
    --lightred: #4e2e2e;
}


:root::-webkit-scrollbar {
    width: 10px;
}

:root::-webkit-scrollbar-thumb {
    background-color: var(--extra-1);
}

:root::-webkit-scrollbar-track {
    background-color: var(--extra-2);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    border: 0 solid;
    margin: 0;
    padding: 0;
}

html {
    font-family: Inter;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    background-color: var(--primary);
    transition: all 0.3s ease-in-out;
}

body.noscroll {
    overflow-y: hidden;
}

header {
    display: flex;
    width: 100%;
    height: 100px;
    padding: 16px 10px;
    align-items: center;
    z-index: 100;
    position: fixed;
    top: 0;
    border-radius: 0 0 15px 15px;
    border-bottom: 1px solid var(--border);
    background: var(--secondary);
    backdrop-filter: blur(10px);
}

header.active {
    backdrop-filter: unset;
}

header > nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

header > nav > .logo {
    z-index: 3;
}

header > nav > .logo > img {
    width: 60px;
    height: 60px;
}

header > nav > .links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all 0.25s;
    position: fixed;
    visibility: hidden;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 1;
    transition: none;
}

header > nav > .links > * {
    z-index: 2;
}

header > nav > .links > *:not(:last-child) {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text);
    text-decoration: none;
}

header.active > nav > .links {
    visibility: visible;
    backdrop-filter: blur(20px) brightness(var(--brightness));
    opacity: 1;
}

header > nav > .links > .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

header.active > nav > .links > .row {
    display: flex;
    flex-direction: column;
}

header > nav > .links > .row > a {
    color: var(--text);

    font-size: 16px;
    font-weight: 500;

    text-decoration: none;
}

header > nav > .links > .small-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

header > nav >.links > .small-row > .divider {
    width: 2px;
    height: 24px;
    background: var(--extra-3);
}

header > nav > .hamburger {
    display: block;
    cursor: pointer;
    z-index: 2;
}

header > nav > .hamburger > * {
    display: block;
    width: 48px;
    height: 3px;
    margin: 7.5px auto;
    transition: all 0.3s ease-in-out;
    background-color: var(--text);
}

header.active > nav > .hamburger .bar:nth-child(2) {
    opacity: 0;
}

header.active > nav > .hamburger .bar:nth-child(1) {
    transform: translateY(10.5px) rotate(45deg);
}

header.active > nav > .hamburger .bar:nth-child(3) {
    transform: translateY(-10.5px) rotate(-45deg);
}

header .btn {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 10px;
    border-radius: 10px;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;
    cursor: pointer;
    outline: 2px solid transparent;
    outline-offset: 2px;
    background-color: transparent;
    background-image: none;
    text-transform: none;
}

header .btn:hover {
    background-color: var(--gradient-1);
}

header .btn:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

section {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 100px 30px;
    scroll-margin-top: 100px;
}

.summary {
    flex-direction: column-reverse;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
}

.summary > .column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 48px;
    width: 100%;
}

.summary > .column > h1 {
    color: var(--text);
    font-size: 40px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: -1.2px;
}

.summary > .column > .text {
    display: flex;
    flex-direction: column;
    gap: 24px;
    color: var(--gradient-2);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.summary > .column > form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}

.summary > .column > form > input[type="submit"] {
    display: flex;
    padding: 10px 16px;
    justify-content: center;
    align-items: center;
    margin-top: 22px;
    gap: 8px;
    height: 40px;
    border-radius: 15px;
    text-decoration: none;
    color: var(--text);
    background-color: var(--extra-1);
    transition: all 0.3s ease-in-out;
}

.summary > .column > form > label {
    display: flex;
    flex-direction: column;
    gap: 2.8px;
}

.summary > .column > form > label > input,
.summary > .column > form > label > select {
    display: flex;
    flex-direction: row;
    gap: 8px;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #CCCCCC;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    outline: none;
}

.summary > .column > form > label > input:focus,
.summary > .column > form > label > select:focus {
    border: 1px solid var(--text);
}

.calcul {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 60px;
    width: 100%;
    padding: 100px 30px;
    background: var(--gradient-1);
}

.calcul > .column {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

.calcul > .column > .column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.calcul > .column > .column > h2 {
    color: var(--text);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}

.calcul > .column > .column > .table {
    overflow-x: auto;
}

.calcul > .column > .column > .table > table {
    width: 100%;
}

.calcul > .column > .column > .table > table > thead > tr > th,
.calcul > .column > .column > .table > table > tbody > tr > td {
    min-width: 120px;
}

.calcul > .column > .column > .table > table > thead > tr > th {
    color: var(--text);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    background-color: var(--extra-1);
    padding: 5px 6px;
    border-radius: 5px;
    border: 1px solid var(--border);
}

.calcul > .column > .column > .table > table > tbody > tr > td {
    color: var(--text);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    padding: 5px 6px;
    border-radius: 5px;
    border: 1px solid var(--border);
}

.calcul > .column > .column > .table > table > tbody > tr > td > input {
    gap: 8px;
    width: 80px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #CCCCCC;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    outline: none;
}

.calcul > .column > .column > .table > table > tbody > tr > td > input:focus {
    border: 1px solid var(--text);
}

.calcul > .column > .column > .table > table > tbody > tr.lightred {
    background-color: var(--lightred);
}

.calcul > .column > .column > .table > table > tbody > tr.lightgreen {
    background-color: var(--lightgreen);
}

.calcul > .column > .column > .table > #final > thead > tr > td,
.calcul > .column > .column > .table > #final > tbody > tr > td {
    width: 50%;
}

.calcul > .column > button {
    display: flex;
    padding: 10px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    height: 40px;
    border-radius: 15px;
    width: 100%;
    text-decoration: none;
    color: var(--text);
    background-color: var(--extra-1);
    transition: all 0.3s ease-in-out;
}

.calcul > .column > button:hover {
    transform: scale(1.02);
}

@media (min-width: 500px) {
    header > nav {
        padding-left: 50px;
        padding-right: 50px;
    }

    .contact > .list > .container {
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }

    .summary > .column > form {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .summary > .column > form > * {
        width: 200px;
    }
}


@media (min-width: 800px) {
    .summary {
        align-items: flex-start;
        flex-direction: row;
        gap: 50px;
        margin-top: 50px;
    }

    .summary > .column > h1 {
        font-size: 60px;
    }

    .summary > .photo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        height: 350px;
    }

    .summary > .photo > img {
        width: 280px;
        height: 320px;
        border-radius: 20%;
    }

    .summary > .photo > img:hover {
        transform: scale(1.05) rotate(2deg);
    }
}

@media (min-width: 1000px) {
    header > nav {
        padding-left: 0;
        padding-right: 0;
    }

    header > nav > .links {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
        visibility: visible;
        position: unset;
        text-align: unset;
        width: 100%;
        height: 100%;
        margin-left: unset;
        opacity: 100%;
    }

    header > nav > .hamburger {
        display: none;
    }

    header {
        padding: 16px 50px;
    }

    section, .calcul {
        padding: 100px 50px;
    }

    .summary {
        gap: 150px;
    }

    section {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
}

@media (min-width: 1100px) {
    header {
        padding: 16px 100px;
    }

    section, .calcul {
        padding: 100px 100px;
    }
}

@media (min-width: 1300px) {
    header {
        padding: 16px 200px;
    }

    section, .calcul {
        padding: 100px 200px;
    }
}

@media (min-width: 1600px) {
    header {
        padding: 16px 250px;
    }

    section, .calcul {
        padding: 100px 250px;
    }

    .calcul {
        gap: 0;
    }
}

@media (min-width: 1920px) {
    header {
        padding: 16px 300px;
    }

    section, .calcul {
        padding: 100px 300px;
    }
}


@media (min-width: 2000px) {
    header {
        padding: 16px 20%;
    }

    section, .calcul {
        padding: 100px 20%;
    }
}
