<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta property="og:type" content="website" />
    <meta
      property="og:image"
      content="{{ url_for('.static', filename='saintthibault/images/logo.png') }}"
    />
    <meta property="og:image:alt" content="logo.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="1051" />
    <meta property="og:image:height" content="1051" />
    <meta
      property="og:description"
      content="Centre Equestre/Poney Club de Saint-Thibault. 
    Situé à 30 km de Paris, au sein de la forêt régionale de Montgé en Goële, CHARLES HENRY et THOMAS FONTANA vous souhaitent la bienvenue et vous invitent à venir partager votre passion de l'équitation dans un cadre idéal de détente."
    />

    <meta content="#FFCA4F" data-react-helmet="true" name="theme-color" />
    <meta
      content="Centre Equestre/Poney Club de Saint-Thibault. 
    Situé à 30 km de Paris, au sein de la forêt régionale de Montgé en Goële, CHARLES HENRY et THOMAS FONTANA vous souhaitent la bienvenue et vous invitent à venir partager votre passion de l'équitation dans un cadre idéal de détente."
      data-react-helmet="true"
      name="description"
    />
    <meta
      content="Centre équestre Saint-Thibault"
      data-react-helmet="true"
      name="author"
    />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="apple-mobile-web-app-title"
      content="Centre équestre Saint-Thibault"
    />
    <meta name="application-name" content="Centre équestre Saint-Thibault" />
    <meta name="msapplication-TileColor" content="#FFCA4F" />
    <meta name="theme-color" content="#FFCA4F" />
    <meta
      name="keywords"
      content="équitation, cheval, centre équestre, 77 230 montgé-en-goële, 77230, centre équestre saint-thibault, centre équestre saint thibault, centre equestre saint thibault"
    />
    <meta name="robots" content="index,follow" />
    <meta name="googlebot" content="index,follow" />
    <meta name="google" content="notranslate" />

    <meta property="og:title" content="Centre équestre Saint-Thibault" />
    <meta property="og:url" content="http://saintthibault.free.fr/" />

    <title>Centre équestre • Saint Thibault</title>

    {% include 'analytics/saintthibault.bayfield.dev.html' %}

    <script src="https://cdn.tailwindcss.com"></script>

    <style>
        html {
            scroll-behavior: smooth;
        }

        .bg-primary {
            background-color: #f4a117;
        }

        .shadow-primary-100 {
            box-shadow: #fef3c7;
        }

        .shadow-primary-200 {
            box-shadow: #fce68b;
        }
    </style>
  </head>

  <body class="bg-white">
    <div class="container mx-auto h-screen grid content-center px-5 sm:px-0">
      <div class="grid gap-5 justify-items-center text-center">
        <img src="{{ url_for('.static', filename='saintthibault/images/construction.svg') }}" class="h-32" />
        <h1 class="font-serif text-4xl font-semibold">Prochainement !</h1>
        <p class="font-sans text-gray-400 text-lg tracking-wide">
          Ce site est en cours de construction. Revenez bientôt pour découvrir
          notre nouveau site.
        </p>
        <a
          href="http://saintthibault.free.fr"
          class="bg-primary text-white py-4 px-7 rounded-full tracking-wide uppercase text-sm shadow-xl shadow-primary-100 transition duration-300 hover:shadow-primary-200 hover:-translate-y-1"
          >Site officiel du centre équestre Saint-Thibault<br><br>>> saintthibault.free.fr <<
        </a>
      </div>
    </div>
  </body>
</html>
